In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

In [ ]:
demo_1 = pd.read_csv('/content/api_data_aadhar_demographic_0_500000.csv')
demo_2 = pd.read_csv('/content/api_data_aadhar_demographic_1000000_1500000.csv')
demo_3 = pd.read_csv('/content/api_data_aadhar_demographic_1500000_2000000.csv')
demo_4 = pd.read_csv('/content/api_data_aadhar_demographic_2000000_2071700.csv')
demo_5 = pd.read_csv('/content/api_data_aadhar_demographic_500000_1000000.csv')

In [ ]:
# File-1 briefs
demo_1['state'].nunique()
# unusual number 58 denotes problematic entries
# demo_1.head(17)

58

In [ ]:

demo_1['date_formatted'] = pd.to_datetime(demo_1['date'], dayfirst=True).dt.strftime('%Y%m%d')
demo_1

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529,20250301
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375,20250301
2,01-03-2025,Gujarat,Rajkot,360006,65,765,20250301
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314,20250301
4,01-03-2025,Rajasthan,Udaipur,313801,45,785,20250301
...,...,...,...,...,...,...,...
499995,19-09-2025,Maharashtra,Satara,415212,0,1,20250919
499996,19-09-2025,Maharashtra,Satara,415312,0,5,20250919
499997,19-09-2025,Maharashtra,Satara,415510,0,3,20250919
499998,19-09-2025,Maharashtra,Satara,415511,0,10,20250919
499999,19-09-2025,Maharashtra,Satara,415516,0,3,20250919

In [ ]:

demo_1['date_formatted'].isnull().sum()

np.int64(0)

In [ ]:

# timeline of the datas present
print(demo_1['date'].max() , demo_1['date'].min())

31-10-2025 01-03-2025

In [ ]:

# File-2 briefs

demo_2['state'].nunique()

56

In [ ]:

demo_2['date_formatted'] = pd.to_datetime(demo_2['date'], dayfirst=True).dt.strftime('%Y%m%d')
demo_2

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
0,01-11-2025,Puducherry,Karaikal,609603,0,4,20251101
1,01-11-2025,Puducherry,Karaikal,609605,0,3,20251101
2,01-11-2025,Puducherry,Karaikal,609606,0,5,20251101
3,01-11-2025,Puducherry,Puducherry,605011,2,6,20251101
4,01-11-2025,Puducherry,Puducherry,605111,0,1,20251101
...,...,...,...,...,...,...,...
499995,19-11-2025,Rajasthan,Baran,325217,5,61,20251119
499996,19-11-2025,Rajasthan,Baran,325219,2,16,20251119
499997,19-11-2025,Rajasthan,Baran,325221,12,51,20251119
499998,19-11-2025,Rajasthan,Barmer,344011,1,6,20251119
499999,19-11-2025,Rajasthan,Barmer,344022,6,33,20251119

In [ ]:

demo_2['date_formatted'].isnull().sum()

np.int64(0)

In [ ]:

print(demo_2['date'].max() , demo_2['date'].min())

31-10-2025 01-03-2025

In [ ]:
# File-3 briefs

demo_3['state'].nunique()

59

In [ ]:

demo_3['date_formatted'] = pd.to_datetime(demo_3['date'], dayfirst=True).dt.strftime('%Y%m%d')
demo_3

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
0,18-11-2025,Karnataka,Hasan,573118,0,2,20251118
1,18-11-2025,Karnataka,Hasan,573124,1,3,20251118
2,18-11-2025,Karnataka,Hasan,573150,0,2,20251118
3,18-11-2025,Karnataka,Hassan,573113,0,1,20251118
4,18-11-2025,Karnataka,Hassan,573120,1,4,20251118
...,...,...,...,...,...,...,...
499995,16-12-2025,Maharashtra,Dharashiv,413506,1,3,20251216
499996,16-12-2025,Maharashtra,Dharashiv,413507,0,1,20251216
499997,16-12-2025,Maharashtra,Dharashiv,413601,0,1,20251216
499998,16-12-2025,Maharashtra,Dharashiv,413602,0,1,20251216
499999,16-12-2025,Maharashtra,Dhule,424301,0,8,20251216

In [ ]:
demo_3['date_formatted'].isnull().sum()

np.int64(0)

In [ ]:

print(demo_3['date'].max() , demo_3['date'].min())

31-10-2025 01-03-2025

In [ ]:

# File - 4 briefs
demo_4['date_formatted'] = pd.to_datetime(demo_4['date'], dayfirst=True).dt.strftime('%Y%m%d')
demo_4

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
0,16-12-2025,Madhya Pradesh,Shajapur,465113,0,4,20251216
1,16-12-2025,Madhya Pradesh,Shajapur,465226,2,14,20251216
2,16-12-2025,Madhya Pradesh,Shajapur,465339,1,2,20251216
3,16-12-2025,Madhya Pradesh,Shajapur,465447,1,19,20251216
4,16-12-2025,Madhya Pradesh,Sheopur,476332,11,25,20251216
...,...,...,...,...,...,...,...
71695,29-12-2025,West Bengal,West Midnapore,721212,0,12,20251229
71696,29-12-2025,West Bengal,West Midnapore,721420,0,1,20251229
71697,29-12-2025,West Bengal,West Midnapore,721424,0,5,20251229
71698,29-12-2025,West Bengal,West Midnapore,721426,0,3,20251229
71699,29-12-2025,West Bengal,hooghly,712701,0,1,20251229

In [ ]:
demo_4['date_formatted'].isnull().sum()

np.int64(0)

In [ ]:

print(demo_4['date'].max() , demo_4['date'].min())

29-12-2025 15-12-2025

In [ ]:

# File - 5 briefs
demo_5['date_formatted'] = pd.to_datetime(demo_5['date'], dayfirst=True).dt.strftime('%Y%m%d')
demo_5

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
0,19-09-2025,Maharashtra,Satara,415517,0,2,20250919
1,19-09-2025,Maharashtra,Satara,415518,0,2,20250919
2,19-09-2025,Maharashtra,Satara,415520,0,3,20250919
3,19-09-2025,Maharashtra,Satara,415539,1,5,20250919
4,19-09-2025,Maharashtra,Sindhudurg,416510,4,37,20250919
...,...,...,...,...,...,...,...
499995,31-10-2025,Uttar Pradesh,Etah,207250,2,17,20251031
499996,31-10-2025,Uttar Pradesh,Etah,207401,1,27,20251031
499997,31-10-2025,Uttar Pradesh,Etawah,206003,3,10,20251031
499998,31-10-2025,Uttar Pradesh,Etawah,206125,1,25,20251031
499999,31-10-2025,Uttar Pradesh,Etawah,206126,1,25,20251031

In [ ]:

print(demo_5['date'].max() , demo_5['date'].min())

31-10-2025 01-03-2025

In [ ]:

# Concating(row-wise)the Datasets ---> states are through all the datasets
merged_df = pd.concat([demo_1, demo_2, demo_3, demo_4, demo_5], axis=0, ignore_index=True)
merged_df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529,20250301
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375,20250301
2,01-03-2025,Gujarat,Rajkot,360006,65,765,20250301
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314,20250301
4,01-03-2025,Rajasthan,Udaipur,313801,45,785,20250301

In [ ]:
merged_df['date_formatted'].isnull().sum()

np.int64(0)

In [ ]:

merged_df.shape

(2071700, 7)

In [ ]:
merged_df['date_formatted'].isnull().sum()

np.int64(0)

In [ ]:

merged_df['state'].nunique()

65

In [ ]:
merged_df['state'].unique()

array(['Uttar Pradesh', 'Andhra Pradesh', 'Gujarat', 'Rajasthan',
       'Karnataka', 'West Bengal', 'Telangana', 'Odisha', 'Maharashtra',
       'Kerala', 'Bihar', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Tripura', 'Arunachal Pradesh', 'Punjab', 'Jharkhand', 'Delhi',
       'Chandigarh', 'Chhattisgarh', 'Jammu and Kashmir', 'Mizoram',
       'Nagaland', 'Himachal Pradesh', 'Goa', 'Haryana', 'Meghalaya',
       'Uttarakhand', 'Manipur', 'Daman and Diu', 'Puducherry', 'Sikkim',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Dadra and Nagar Haveli', 'Orissa', 'Pondicherry',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'west Bengal', 'Daman & Diu', 'West  Bengal', 'odisha',
       'Jammu & Kashmir', 'Lakshadweep', 'Dadra & Nagar Haveli',
       'Westbengal', 'andhra pradesh', 'WEST BENGAL', 'West Bangal',
       'West bengal', 'ODISHA', 'WESTBENGAL', 'Chhatisgarh',
       'West Bengli', 'Darbhanga', 'Puttenahalli', 'Uttaranchal',
       'BALANAGAR', 'Jaipur', 'Madanapalle', '100000', 'Nagpur',
       'Raja Annamalai Puram'], dtype=object)

In [ ]:

# meaningless state names
merged_df[merged_df['state']=='Darbhanga']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
222931,16-12-2025,Darbhanga,Near University Thana,846004,0,1,20251216
332384,16-12-2025,Darbhanga,Near University Thana,846004,0,1,20251216

In [ ]:

merged_df[merged_df['state']=='Puttenahalli']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
341349,19-12-2025,Puttenahalli,5th cross,560078,0,1,20251219

In [ ]:

merged_df[merged_df['state']=='BALANAGAR']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
1057006,13-12-2025,BALANAGAR,IDPL COLONY,500037,0,1,20251213
1803143,13-12-2025,BALANAGAR,IDPL COLONY,500037,0,1,20251213

In [ ]:


merged_df[merged_df['state']=='Uttaranchal']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
705510,22-12-2025,Uttaranchal,Tehri Garhwal,249132,0,1,20251222
1066917,19-12-2025,Uttaranchal,Udham Singh Nagar *,244712,0,1,20251219
1098662,20-12-2025,Uttaranchal,Udham Singh Nagar *,244712,0,1,20251220
1123945,22-12-2025,Uttaranchal,Tehri Garhwal,249132,0,1,20251222
1831692,20-12-2025,Uttaranchal,Udham Singh Nagar *,244712,0,1,20251220

In [ ]:

merged_df[merged_df['state']=='Jaipur']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
1110763,26-12-2025,Jaipur,Near meera hospital,302016,0,1,20251226
1883975,26-12-2025,Jaipur,Near meera hospital,302016,0,1,20251226

In [ ]:


merged_df[merged_df['state']=='Madanapalle']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
1131579,27-12-2025,Madanapalle,Kadiri Road,517325,0,1,20251227
1886706,27-12-2025,Madanapalle,Kadiri Road,517325,0,1,20251227

In [ ]:
merged_df[merged_df['state']=='Nagpur']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
1533255,22-12-2025,Nagpur,Near Uday nagar NIT garden,440024,0,1,20251222

In [ ]:
merged_df[merged_df['state']=='Raja Annamalai Puram']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
1557984,26-12-2025,Raja Annamalai Puram,Near Dhyana Ashram,600028,0,1,20251226

In [ ]:
merged_df[merged_df['state']=='100000']

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted
1507370,20-12-2025,100000,100000,100000,0,1,20251220
1866861,23-12-2025,100000,100000,100000,0,1,20251223

In [ ]:
merged_df.drop(merged_df[merged_df['state'] == '100000'].index, inplace=True)

In [ ]:

# mapping states based on the pincode found
merged_df['state'] = merged_df['state'].replace('Darbhanga', 'Bihar')
merged_df['state'] = merged_df['state'].replace('Puttenahalli', 'Karnataka')
merged_df['state'] = merged_df['state'].replace('BALANAGAR', 'Telangana')
merged_df['state'] = merged_df['state'].replace('Uttaranchal', 'Uttarakhand')
merged_df['state'] = merged_df['state'].replace('Jaipur', 'Rajasthan')
merged_df['state'] = merged_df['state'].replace('Madanapalle', 'Andhra Pradesh')
merged_df['state'] = merged_df['state'].replace('Nagpur', 'Maharashtra')
merged_df['state'] = merged_df['state'].replace('Raja Annamalai Puram', 'Tamil Nadu')

In [ ]:
import re

def clean_state_name(state):
    """Clean and standardize state names."""
    if pd.isna(state):
        return state
    state = str(state).strip()            # Remove leading/trailing spaces
    state = state.lower()                 # Convert to lowercase
    state = re.sub(r'[^a-z\s]', '', state)  # Remove all non-letter characters
    state = ' '.join(state.split())       # Replace multiple spaces with single space
    return state

In [ ]:
# Standardized mapping for Indian state and union territory names
# This helps unify variations, typos, and alternative spellings into official names

state_standardization_map = {
    # ------------------------------
    # Northern States & UTs
    # ------------------------------
    'delhi': 'Delhi',
    'ladakh': 'Ladakh',
    'jammu and kashmir': 'Jammu and Kashmir',
    'jammu kashmir': 'Jammu and Kashmir',
    'himachal pradesh': 'Himachal Pradesh',
    'punjab': 'Punjab',
    'uttarakhand': 'Uttarakhand',
    'haryana': 'Haryana',
    'chandigarh': 'Chandigarh',
    'uttar pradesh': 'Uttar Pradesh',

    # ------------------------------
    # Western States
    # ------------------------------
    'rajasthan': 'Rajasthan',
    'goa': 'Goa',
    'gujarat': 'Gujarat',
    'maharashtra': 'Maharashtra',
    'nagpur': 'Maharashtra',  # Common city mapped to state

    # ------------------------------
    # Central States
    # ------------------------------
    'madhya pradesh': 'Madhya Pradesh',
    'chhattisgarh': 'Chhattisgarh',
    'chhatisgarh': 'Chhattisgarh',  # common typo

    # ------------------------------
    # Eastern States
    # ------------------------------
    'bihar': 'Bihar',
    'jharkhand': 'Jharkhand',
    'odisha': 'Odisha',
    'orissa': 'Odisha',
    'west bengal': 'West Bengal',
    'west bangal': 'West Bengal',
    'westbengal': 'West Bengal',
    'west  bengal': 'West Bengal',
    'westbengal ': 'West Bengal',
    'west bengli': 'West Bengal',
    'sikkim': 'Sikkim',
    'assam': 'Assam',
    'meghalaya': 'Meghalaya',
    'mizoram': 'Mizoram',
    'manipur': 'Manipur',
    'nagaland': 'Nagaland',
    'tripura': 'Tripura',
    'arunachal pradesh': 'Arunachal Pradesh',

    # ------------------------------
    # Southern States
    # ------------------------------
    'kerala': 'Kerala',
    'tamil nadu': 'Tamil Nadu',
    'andhra pradesh': 'Andhra Pradesh',
    'telangana': 'Telangana',
    'karnataka': 'Karnataka',

    # ------------------------------
    # Union Territories (Island / Coastal)
    # ------------------------------
    'andaman and nicobar islands': 'Andaman and Nicobar Islands',
    'andaman nicobar islands': 'Andaman and Nicobar Islands',
    'lakshadweep': 'Lakshadweep',
    'puducherry': 'Puducherry',
    'pondicherry': 'Puducherry',

    # ------------------------------
    # Special merged UTs
    # ------------------------------
    'dadra nagar haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'dadra and nagar haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'daman and diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'dadra and nagar haveli and daman and diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'the dadra and nagar haveli and daman and diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'daman diu': 'Dadra and Nagar Haveli and Daman and Diu',
}

In [ ]:

merged_df['state_clean'] = (
    merged_df['state']
    .apply(clean_state_name)
    .map(state_standardization_map)
    .fillna(merged_df['state'].apply(clean_state_name))
)

In [ ]:

# Drop invalid entries like numeric junk
merged_df = merged_df[~merged_df['state'].astype(str).str.isnumeric()]

# Optional: check unmapped states
unmapped = merged_df[merged_df['state_clean'].isna()]['state'].unique()
print("Unmapped values:", unmapped)

Unmapped values: []

In [ ]:

merged_df['state_clean'].unique()

array(['Uttar Pradesh', 'Andhra Pradesh', 'Gujarat', 'Rajasthan',
       'Karnataka', 'West Bengal', 'Telangana', 'Odisha', 'Maharashtra',
       'Kerala', 'Bihar', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Tripura', 'Arunachal Pradesh', 'Punjab', 'Jharkhand', 'Delhi',
       'Chandigarh', 'Chhattisgarh', 'Jammu and Kashmir', 'Mizoram',
       'Nagaland', 'Himachal Pradesh', 'Goa', 'Haryana', 'Meghalaya',
       'Uttarakhand', 'Manipur',
       'Dadra and Nagar Haveli and Daman and Diu', 'Puducherry', 'Sikkim',
       'Ladakh', 'Andaman and Nicobar Islands', 'Lakshadweep'],
      dtype=object)

In [ ]:

merged_df['state_clean'].nunique()

36

In [ ]:

merged_df

,date,state,district,pincode,demo_age_5_17,demo_age_17_,date_formatted,state_clean
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529,20250301,Uttar Pradesh
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375,20250301,Andhra Pradesh
2,01-03-2025,Gujarat,Rajkot,360006,65,765,20250301,Gujarat
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314,20250301,Andhra Pradesh
4,01-03-2025,Rajasthan,Udaipur,313801,45,785,20250301,Rajasthan
...,...,...,...,...,...,...,...,...
2071695,31-10-2025,Uttar Pradesh,Etah,207250,2,17,20251031,Uttar Pradesh
2071696,31-10-2025,Uttar Pradesh,Etah,207401,1,27,20251031,Uttar Pradesh
2071697,31-10-2025,Uttar Pradesh,Etawah,206003,3,10,20251031,Uttar Pradesh
2071698,31-10-2025,Uttar Pradesh,Etawah,206125,1,25,20251031,Uttar Pradesh
2071699,31-10-2025,Uttar Pradesh,Etawah,206126,1,25,20251031,Uttar Pradesh

In [ ]:

merged_df.dtypes

date              object
state             object
district          object
pincode            int64
demo_age_5_17      int64
demo_age_17_       int64
date_formatted    object
state_clean       object
dtype: object

In [ ]:

merged_df.to_csv('UIDAI_cleaned_demography_data.csv', index=False)